<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<title>reveal.js Gallery</title>
		<!-- CSS FILES -->
                <link rel="stylesheet" href="/uikit/css/uikit.min.css" />
                <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
                <!-- JS FILES -->
                <script src="/uikit/js/uikit.min.js"></script>
                <script src="/uikit/js/uikit-icons.min.js"></script>
                <script src="/js/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="uk-offcanvas-content">
			<!--HEADER-->
			<header id="top-head" class="uk-position-fixed">
				<div class="uk-container uk-container-expand uk-background-primary">
					<nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
						<div class="uk-navbar-left">
							<div class="uk-navbar-item uk-hidden@m">
								<a class="uk-logo" href="#"><img class="custom-logo" src="img/dashboard-logo-white.svg" alt=""></a>
							</div>
							<ul class="uk-navbar-nav uk-visible@m">
								<li class="uk-text-bold"><a href="#">reveal.js gallery</a></li>
							</ul>
						</div>
						<div class="uk-navbar-right">
							<ul class="uk-navbar-nav">
								<li>
									<a href="#"><span data-uk-icon="icon: menu"></span></a>
									<div class="uk-navbar-dropdown">
										<ul class="uk-nav uk-navbar-dropdown-nav">
											<li><a href="#modal-close-default" uk-toggle><span data-uk-icon="icon: info"></span> About</a></li>
											<li><a href="https://github.com/mattdark/reveal.js-gallery" target="_blank"><span data-uk-icon="icon: github"></span> Fork me</a></li>
											<li><a href="https://mariog.xyz/" target="_blank"><span data-uk-icon="icon: settings"></span> Contact</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<!--/HEADER-->
			<!-- LEFT BAR -->
			<aside id="left-col" class="uk-light uk-visible@m">
				<div class="left-logo uk-flex uk-flex-middle">
				</div>
				<div class="left-content-box  content-box-dark">
					<img src="/img/avatar.svg" alt="" class="uk-border-circle profile-img">
					<h4 class="uk-text-center uk-margin-remove-vertical text-light">John Doe</h4>
					
					
				</div>
				
				<div class="left-nav-wrap">
					<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
						<li class="uk-nav-header">SOCIAL</li>
						<li><a href="https://fb.com/#"><span data-uk-icon="icon: facebook" class="uk-margin-small-right"></span>Facebook</a></li>
						<li><a href="https://twitter.com/#"><span data-uk-icon="icon: twitter" class="uk-margin-small-right"></span>Twitter</a></li>
						<li><a href="https://linkedin/in/#"><span data-uk-icon="icon: linkedin" class="uk-margin-small-right"></span>LinkedIn</a></li>
						<li><a href="https://github.com/#"><span data-uk-icon="icon: github" class="uk-margin-small-right"></span>GitHub</a></li>
					</ul>
				</div>
				<div class="bar-bottom">
				</div>
			</aside>
			<!-- /LEFT BAR -->
			<!-- CONTENT -->
			<div id="content" data-uk-height-viewport="expand: true">
				<div class="uk-container uk-container-expand">
					
					<div class="uk-grid uk-grid-medium" data-uk-grid>

						<div id="modal-close-default" uk-modal>
    							<div class="uk-modal-dialog uk-modal-body">
        							<button class="uk-modal-close-default" type="button" uk-close></button>
        							<h2 class="uk-modal-title">About</h2>
        							<p>reveal.js-gallery is a gallery for your HTML5 presentations created with reveal.js. Developed by <a href="https://mariog.xyz/" target="_blank">Mario García</a> using <a href="https://rust-lang.org/" target="_blank">Rust</a> & <a href="https://rocket.rs/" target="_blank">Rocket</a> for the backend and <a href="https://getuikit.com/" target="_blank">UIKit</a> for the frontend.</p>
    							</div>
						</div>
						
						<!-- gallery -->
						<div class="uk-width-2-3@l">
							<div class="uk-card uk-card-default uk-card-small uk-card-hover">
								<div class="uk-card-header">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-auto"><h4>Presentation</h4></div>
									</div>
								</div>
								<div class="uk-card-body">
									<div class="uk-inline">
            									<img id="slide_screenshot" src="/img/screenshot/cover.png" alt="Presentation Cover">
            									<div class="uk-overlay uk-overlay-default uk-position-bottom">
                									<p id="slide_title" class="uk-text-bold">Better Organized</p>
            									</div>
        								</div>
								</div>
							</div>
						</div>
						<!-- /gallery -->
                                                <!-- description -->
						<div class="uk-width-1-1 uk-width-1-3@l uk-width-1-2@xl">
							<div class="uk-card uk-card-default uk-card-small uk-card-hover">
								<div class="uk-card-header">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-auto"><h4>Description</h4></div>
									</div>
								</div>
								<div class="uk-card-body">
									<form id="slides" action="/presentation" method="POST">
                                                                          <fieldset class="uk-fieldset">
		                                                            <div uk-form-custom="target: > * > span:first-child">
                                                                              <select name="path" class="uk-select" required>
                                                                                <option value="" disabled selected>Your Presentation</option>
                                                                                {{ #each slides }}
                                                                                  <option value="{{ url }}">{{ title }}</option>
                                                                                {{ /each }}
                                                                              </select>
                                                                              <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                                                <span></span>
                                                                                <span uk-icon="icon: chevron-down"></span>
                                                                              </button>
                                                                            </div>
                                                                            <hr class="uk-divider-icon">
                                                                            <dl class="uk-description-list uk-description-list-divider" id="slide_info" style="display: none;">
                                                                              <dt>Description</dt>
                                                                              <dd id="slide_description"></dd>
                                                                            </dl>
                                                                            <input type="submit" value="Open" class="uk-button uk-button-default uk-align-center">
                                                                          </fieldset>
                                                                        </form>
									<script src="/js/script.js"></script>
								</div>
							</div>
						</div>
						<!-- /description -->
					</div>
					<footer class="uk-section uk-section-small uk-text-center">
						<hr>
						<p class="uk-text-small uk-text-center">&copy; 2018 - Template by<a href="https://github.com/zzseba78/Kick-Off"> KickOff</a></p>
					</footer>
				</div>
			</div>
			<!-- /CONTENT -->
		</div>
	</body>
</html>
