<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ title }}</title>

		<link rel="stylesheet" href="/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/reveal.js/css/theme/{{ theme }}">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/reveal.js/css/print/pdf.css' : '/reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown="/slides/{{ file }}" data-charset="utf-8" data-separator="^\r?\n---\r?\n$" data-separator-vertical="^\r?\n----\r?\n$" data-separator-notes="^Note:"> </section>
			</div>
		</div>

		<script src="/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/reveal.js/plugin/markdown/marked.js' },
					{ src: '/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
